html,
body {
    padding: 0;
    margin : 0;
}

@font-face {
    font-family: CascadiaAsset;
    src        : url('assets/CascadiaCode.woff2'),
        url('assets/CascadiaCode.ttf') format('truetype');
}

.flex-container {
    display        : flex;
    justify-content: space-evenly;
}

.flex-container>div {
    width: 50vw;
}

.huge-text {
    font-size: 3rem;

    margin-left: 5rem;
    margin-top : 5rem;

    font-family: 'CascadiaAsset', 'Ubuntu Mono', "Consolas", "Courier New", monospace;
}

.huge-text>h1 {
    margin: 0;
}

.about-list {
    font-weight: 900;

    font-size   : 1.5rem;
    margin-right: 5rem;
    margin-top  : 2rem;

    font-family: 'CascadiaAsset', 'Ubuntu Mono', "Consolas", "Courier New", monospace;

}

.about-list>ul {
    list-style: none;
    padding   : 0;
}

.about-list>ul>li {
    padding   : .4rem;
    margin    : .4rem;
    background: #adadad;
    display   : inline-block;

    font-weight: 900 !important;
}

.check {
    font-weight: 900 !important;

    text-align: center;
    margin-top: 6rem;
    font-size : .9rem;

    font-family: 'CascadiaAsset', 'Ubuntu Mono', "Consolas", "Courier New", monospace;
}


@media screen and (max-width: 1200px) {
    .flex-container {
        display : block;
        position: relative;
    }

    .flex-container>div {
        width: unset;
    }

    .huge-text {
        margin    : 0;
        margin    : auto;
        margin-top: 3rem;
        font-size : 2.7rem;


        text-align: center;
    }

    .about-list {
        max-width : 600px;
        margin    : auto;
        margin-top: 4rem;
    }

    .check {
        margin-top: 3rem;
    }

    body {
        overflow-x: hidden;
    }

    .img-1-white {
        transform: translate(-20px, -100px) rotate(-26deg) !important;
    }

    .img-4-white {
        max-width: 125px !important;
        transform: translate(calc(10rem - 125px), 250px) rotate(36deg) !important;
    }


    .img-6-white {
        max-width: 220px !important;
        transform: translate(10rem, 420px) rotate(150deg) !important;
    }
}


.ue4 {
    background: rgb(23, 26, 49) !important;
    color     : white;
    ;
}

.django {
    background: rgb(68, 183, 139) !important;
}

.linux {
    background: #19B5FE !important;
}

.artist {
    color     : white;
    background: #C3272B !important;
}

.cook {
    background: #FFA400 !important;
}


.links-arr {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
}

.link>div {
    margin   : 2rem;
    max-width: 300px;
}

.link,
.link>div>h5,
.link:hover>div>h5,
.link:focus>div>h5,
.link:active>div>h5 {
    text-decoration: none;
    color          : black;
}


.link>div>h5 {
    font-size  : 1rem;
    font-weight: 900;
    font-family: 'CascadiaAsset', 'Ubuntu Mono', "Consolas", "Courier New", monospace;

}

.link>div>img {
    border-radius: .4rem;
    max-width    : 100px;
    max-height   : 100px;
    transition   : all .2s ease-in-out;
}

.links-arr-small .link {
    margin-top: -1rem;
}

.links-arr-small h5 {
    margin-top: .5rem;
}

.links-arr-small .link>div>img {
    border-radius: .4rem;
    max-width    : 50px;
    max-height   : 50px;
    transition   : all .2s ease-in-out;
}

.links-arr-small .link>div>h5 {
    font-size: .9rem;
}

.link:hover>div>img {
    transform: scale(1.2);
}

.link2>div>img {
    border-radius: .4rem;
    max-width    : 200px;
    max-height   : 200px;
    transition   : all .2s ease-in-out;
}


.link3>div>img {
    border-radius: .4rem;
    min-width    : 200px;
    min-height   : 200px;
    max-width    : 200px;
    max-height   : 200px;
    transition   : all .2s ease-in-out;
}

.link2:hover>div>img {
    transform: scale(2);
}

footer {
    text-align : center;
    font-family: 'CascadiaAsset', 'Ubuntu Mono', "Consolas", "Courier New", monospace;
    font-weight: 900;
    padding    : 1rem;
}


.flex-container {
    position: relative;
}

.sketches {
    position: absolute;
    left    : 0;

    z-index: -1;
}

.img-fluid {
    max-width: calc(min(50vw, 300px));
}

.img-1-white {
    transform: translateX(420px) rotate(26deg);
}

.img-4-white {
    max-width: calc(min(50vw, 250px));
    transform: translate(calc(80vw - 250px), 350px) rotate(-36deg);
}


.img-6-white {
    max-width: calc(min(50vw, 200px));
    transform: translate(-5vw, 320px) rotate(-150deg);
}